.main-layout-nav-menu {
  backdrop-filter: blur(8px);
  z-index: 1000 !important;
  box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
  @apply bg-gray100;
  .wrap-menu {
    transition: height 0.3s ease;
    z-index: 1000;
    .menu-item-active {
      @apply border-b border-solid;
    }
  }
}
.main-footer__wrap {
  backdrop-filter: blur(8px);
  box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
  @apply bg-gray100;
  font-size: 14px;
}

.contact-form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.theme-control {
  button {
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
  }
}
